{% extends "homepage.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block body%}
    <div class="p-3">
        <h1 class="display-4 text-center">Dinei elogia trio do corinthians, rojeta ataque ideal para o time e exalta luta de Yuri Alberto</h1>
    </div>
    <div class="p-5">
        <img src="{{ url_for('static', filename='noticia3.jpg') }}" class="d-block w-100 p-3" alt="">
        <h2 class="display-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem porro, illo consectetur illum eum nisi repudiandae sint unde ad a quos voluptatibus omnis officia eius ut quaerat asperiores quae rerum. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id perspiciatis odio, fugit qui ipsam earum repudiandae quia, consequatur est fuga quam dolore optio obcaecati reiciendis porro ut expedita eligendi amet.</h2>
    </div>
    <div part="p-5">
    </div>
    {% endblock %}
</body>
</html>